*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# CLIENT

client/web-console/node_modules/
client/web-console/bower_components/
client/web-console/coverage/
client/web-console/.sass-cache/
client/web-console/.idea/
client/web-console/.tmp/
client/web-console/.dist/

# SERVER
